*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(30, 38%, 92%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
}

.all-product{
    display: flex;
}
.prod-img{
    background-image: url(./img/image-product-desktop.jpg);
    width: 20rem;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.right-product{
    background-color: #fff;
    width: 20rem;
    padding: 2rem 2rem;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.perfume{
    letter-spacing: 0.3rem;
    color: hsl(228, 12%, 48%);
}

.perfume-type{
    padding: 1rem 0;
}

.perfume-descr{
    line-height: 1.2rem;
    padding-bottom: 1rem;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}

.price-tag{
    display: flex;
    gap: 1rem;
}

.price-one{
    font-size: 1.7rem;
    color:  hsl(158, 36%, 37%);
}

.price-two{
    text-decoration: line-through;
    font-size: 0.8rem;
    margin-top: 0.6rem;
}

.cart-btn{
    width: 100%;
    padding: 0.7rem 0;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    background:  hsl(158, 36%, 37%);
    color: white;
}

.cart-btn:hover {
    background: hsl(158, 95%, 48%);
    color: black;
}

.cart-btn img {
    padding-right: 0.5rem;
}

.cart-btn img:hover{
    color: black
}

